public/flow/light.json
[{"id":"aca9d196.b364a","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":703.2153015136719,"y":1289.5972366333008,"wires":[]},{"id":"7a4a8811.ce8db8","type":"function","z":"3f603536.d87d0a","name":"","func":"var util = context.global.util;\nvar json = {max:context.global.setting};\nutil.saveSetting (json, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\nreturn msg;","outputs":1,"noerr":0,"x":528.2083053588867,"y":1339.062391281128,"wires":[[]]},{"id":"a986b2ff.21797","type":"ui_text_input","z":"3f603536.d87d0a","name":"","label":"","group":"b9dee9aa.b14398","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":375.2153205871582,"y":1290.1204376220703,"wires":[["f3921ba.dbac0e8"]]},{"id":"f3921ba.dbac0e8","type":"function","z":"3f603536.d87d0a","name":"","func":"let value = parseInt(msg.payload);\nif(value) {\n    context.global.setting  = value;\n}\nreturn msg;","outputs":1,"noerr":0,"x":533.8055267333984,"y":1289.5694770812988,"wires":[["aca9d196.b364a"]]},{"id":"97361063.7c6ae","type":"ui_button","z":"3f603536.d87d0a","name":"","group":"b9dee9aa.b14398","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":360.80558013916016,"y":1338.972312927246,"wires":[["7a4a8811.ce8db8"]]},{"id":"130c1145.340b8f","type":"inject","z":"3f603536.d87d0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":370.24539947509766,"y":1399.388729095459,"wires":[["fa3b382b.aad7c8"]]},{"id":"fa3b382b.aad7c8","type":"function","z":"3f603536.d87d0a","name":"","func":"var util = context.global.util;\nvar setting = util.getSetting();\nif(setting && setting.light!== undefined) {\n    msg.payload = setting.light;\n} else {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":541.2475662231445,"y":1400.2800769805908,"wires":[["9dfdd931.d2d578","aca9d196.b364a"]]},{"id":"9dfdd931.d2d578","type":"ui_template","z":"3f603536.d87d0a","group":"ff7e8a2c.943138","name":"","order":0,"width":"8","height":"8","format":"{{(msg.payload || 0) % 2 === 0 ? '關燈' : '開燈'}}\n<div class=\"game-point\" ng-style=\"{backgroundColor: (msg.payload || 0) % 2 === 0 ? 'gray' : 'yellow'}\">\n  \n</div>\n\n\n<style type=\"text/css\">\n\n.game-point{\n  width: 100px;\n  height: 100px;\n  font-size: 30px;\n  border:1px #94b815 solid;\n  border-radius: 50%;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":510.24998474121094,"y":1521.518466949463,"wires":[[]]},{"id":"b9dee9aa.b14398","type":"ui_group","z":"","name":"溫度設定","tab":"1ad569fe.bc0786","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff7e8a2c.943138","type":"ui_group","z":"","name":"燈光","tab":"5f387a7e.3e5704","order":3,"disp":true,"width":"8","collapse":false},{"id":"1ad569fe.bc0786","type":"ui_tab","z":"","name":"設定","icon":"dashboard","order":2},{"id":"5f387a7e.3e5704","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]