public/flow/mqtt_all.json
[{"id":"d8435c14.6fdde","type":"function","z":"3f603536.d87d0a","name":"取出溫濕度","func":"var obj = msg.payload;\n\nif(obj.information.temperature === undefined || obj.information.humidity === undefined ) {\n    return;\n}\n\n\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":561.0000076293945,"y":387.4335708618164,"wires":[["2d859d10.e22ed2","de0db0b.28b535","440bf45e.0dbe6c","601bfc3b.a74bc4"],["a57e4947.f3b368","66d572c9.95c39c","9423f00d.00696"]]},{"id":"4909a19d.9c7f5","type":"function","z":"3f603536.d87d0a","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":543.3945388793945,"y":153.8241958618164,"wires":[["ae096ace.d92da8","d8435c14.6fdde","8eb55a40.7128a8"]]},{"id":"8eb55a40.7128a8","type":"function","z":"3f603536.d87d0a","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":781.0000076293945,"y":147.4335708618164,"wires":[["2b374fd9.ec77b"]]},{"id":"2b374fd9.ec77b","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"payload","x":1011.0000076293945,"y":147.4335708618164,"wires":[]},{"id":"2d859d10.e22ed2","type":"ui_gauge","z":"3f603536.d87d0a","name":"溫度","group":"972185a4.2c76d8","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"度","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":961.0000076293945,"y":427.4335708618164,"wires":[]},{"id":"a57e4947.f3b368","type":"ui_gauge","z":"3f603536.d87d0a","name":"濕度","group":"eca9d289.e3c26","order":3,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":959.9999618530273,"y":526.4335670471191,"wires":[]},{"id":"de0db0b.28b535","type":"ui_chart","z":"3f603536.d87d0a","name":"","group":"972185a4.2c76d8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":962.499942779541,"y":474.7669506072998,"wires":[[],[]]},{"id":"c4aa4ed8.a4676","type":"inject","z":"3f603536.d87d0a","name":"GIOT Data","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"00000000050102c7\", \"data\":\"0a09df1b5c\", \"frameCnt\":4919, \"fport\":1}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":239.00000762939453,"y":155.43361854553223,"wires":[["4909a19d.9c7f5"]]},{"id":"ae096ace.d92da8","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"false","x":780.0196075439453,"y":193.43748092651367,"wires":[]},{"id":"440bf45e.0dbe6c","type":"function","z":"3f603536.d87d0a","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nif(setting && setting.tempMax) {\n    //node.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\n    if (msg.payload > setting.tempMax) { \n        msg.topic = '溫度過高通知';\n        var data = new Date() +  '溫度超過設定值';\n        msg.payload = data;\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}\n\n","outputs":"2","noerr":0,"x":741.0000076293945,"y":307.4335708618164,"wires":[["46a0cb59.fda0e4","f27203b4.7f524","d6515746.7c15b8"],["6de9a100.76d8e"]]},{"id":"46a0cb59.fda0e4","type":"function","z":"3f603536.d87d0a","name":"傳訊息給line bot","func":"var util = context.global.util;\nutil.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":1021.000114440918,"y":238.43364143371582,"wires":[[]]},{"id":"66d572c9.95c39c","type":"ui_chart","z":"3f603536.d87d0a","name":"","group":"eca9d289.e3c26","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":959.9999771118164,"y":572.4335613250732,"wires":[[],[]]},{"id":"a7a08710.02bce8","type":"mqtt in","z":"3f603536.d87d0a","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"8d5f5fee.210b1","x":221.00001525878906,"y":78.4374771118164,"wires":[["8fea729d.afe52","4909a19d.9c7f5"]]},{"id":"8fea729d.afe52","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":687.5242614746094,"y":69.99999809265137,"wires":[]},{"id":"f27203b4.7f524","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"payload","x":1013.0000381469727,"y":200.43362045288086,"wires":[]},{"id":"601bfc3b.a74bc4","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":774.8789138793945,"y":367.6406145095825,"wires":[]},{"id":"9423f00d.00696","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":725.8789215087891,"y":491.64453887939453,"wires":[]},{"id":"8145feeb.79cbc","type":"function","z":"3f603536.d87d0a","name":"下發控制命令","func":"\nnode.warn(msg.payload);\n//let gwid = '00001c497bf76c19';\n//msg.topic = 'GIOT-GW/DL/' + gwid;\nlet mac = \"000000001401663e\";\n\nlet selectData = 'AA01010100038E';\nnode.warn('selectData : ' + selectData);\nlet tmp = {\"macAddr\":\"000000001401663e\",\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}}\nmsg.payload = JSON.stringify([tmp]);\n//msg.payload = JSON.stringify(tmp);\nreturn msg;","outputs":1,"noerr":0,"x":434.14715576171875,"y":725.0001649856567,"wires":[["825c9481.4ceaf8","e645e64e.e92fb8"]]},{"id":"437ea8ac.eddb08","type":"inject","z":"3f603536.d87d0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":221.1471710205078,"y":720.0000019073486,"wires":[["8145feeb.79cbc"]]},{"id":"825c9481.4ceaf8","type":"mqtt out","z":"3f603536.d87d0a","name":"","topic":"GIOT-GW/DL/00001c497b431fa4","qos":"","retain":"","broker":"8d5f5fee.210b1","x":964.1471405029297,"y":723.0001440048218,"wires":[]},{"id":"e645e64e.e92fb8","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"false","x":643.1471405029297,"y":605.999979019165,"wires":[]},{"id":"972f5be6.d506d8","type":"mqtt in","z":"3f603536.d87d0a","name":"","topic":"GIOT-GW/DL/+","qos":"2","broker":"8d5f5fee.210b1","x":243.14717864990234,"y":1090.000129699707,"wires":[["b132c180.ff56b"]]},{"id":"b132c180.ff56b","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":462.1471710205078,"y":1091.0000743865967,"wires":[]},{"id":"c44a9fc4.e9e26","type":"function","z":"3f603536.d87d0a","name":"下發控制命令","func":"\n//node.warn(msg.payload);\n\nlet mac = \"000000001401663e\";\n\n//let tmp = {\"correlationId\":\"1\",\"dldata\":{\"macAddr\":\"05010bfb\",\"data\": msg.payload,\"extra\":{\"port\":103,\"txpara\":\"22\"}}}\n//msg.payload = JSON.stringify(tmp);\nlet tmp = {\"macAddr\":mac,\"data\": msg.payload,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nreturn msg;","outputs":1,"noerr":0,"x":1190.3334121704102,"y":488.4335823059082,"wires":[["825c9481.4ceaf8","3d34530d.dcbe8c"]]},{"id":"d6515746.7c15b8","type":"function","z":"3f603536.d87d0a","name":"開燈","func":"msg.payload = \"aa\";\nreturn msg;","outputs":1,"noerr":0,"x":980.5000991821289,"y":282.43358039855957,"wires":[["c44a9fc4.e9e26"]]},{"id":"6de9a100.76d8e","type":"function","z":"3f603536.d87d0a","name":"關燈","func":"msg.payload = \"bb\";\nreturn msg;","outputs":1,"noerr":0,"x":983.3333206176758,"y":326.4335708618164,"wires":[["c44a9fc4.e9e26"]]},{"id":"3d34530d.dcbe8c","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"false","x":1249.8334274291992,"y":597.4335708618164,"wires":[]},{"id":"d9692d13.9083d","type":"inject","z":"3f603536.d87d0a","name":"開燈","topic":"","payload":"[{\"macAddr\":\"0000000005010bfb\",\"data\":\"AA\",\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":222.1667022705078,"y":1157.7667865753174,"wires":[["1a6d67fd.466a88"]]},{"id":"1a6d67fd.466a88","type":"mqtt out","z":"3f603536.d87d0a","name":"","topic":"GIOT-GW/DL/00001c497b431fa4","qos":"","retain":"","broker":"8d5f5fee.210b1","x":525.1667098999023,"y":1185.7668933868408,"wires":[]},{"id":"c487400f.424f8","type":"inject","z":"3f603536.d87d0a","name":"開燈","topic":"","payload":"[{\"macAddr\":\"0000000005010bfb\",\"data\":\"BB\",\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":221.00000762939453,"y":1202.4335622787476,"wires":[["1a6d67fd.466a88"]]},{"id":"70ce562.902cda8","type":"function","z":"3f603536.d87d0a","name":"count->0","func":"context.global.count = 0;\nreturn msg;","outputs":1,"noerr":0,"x":436.0000114440918,"y":1024.666633605957,"wires":[[]]},{"id":"c7847c65.aff52","type":"inject","z":"3f603536.d87d0a","name":"","topic":"","payload":"0000000005010326","payloadType":"str","repeat":"","crontab":"","once":false,"x":239,"y":957.8887481689453,"wires":[["8b92ca96.a8d4f8"]]},{"id":"8b92ca96.a8d4f8","type":"function","z":"3f603536.d87d0a","name":"上報命令","func":"let mac = msg.payload;\nlet time = new Date().toISOString();\nlet count = context.global.count;\nif(count === undefined || count === null) {\n    count = 1;\n}\nlet obj = {\"channel\":923625000, \"sf\":10, \"time\":\"2018-02-26T07:41:03\", \"gwip\":\"192.168.1.100\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-29.0, \"snr\":32.0, \"snr_max\":39.5, \"snr_min\":23.8, \"macAddr\":\"0000000005010112\", \"data\":\"0a0a4d1a5b\", \"frameCnt\":1, \"fport\":1}\nobj.frameCnt = count;\nobj.macAddr = mac;\nobj.time = time;\ncount++;\ncontext.global.count = count;\nmsg.payload = JSON.stringify([obj]);\nreturn msg;","outputs":1,"noerr":0,"x":466.00000762939453,"y":957.6526966094971,"wires":[["7edf9f75.192fd","fdf04398.5ff7f"]]},{"id":"4f013006.e0408","type":"inject","z":"3f603536.d87d0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218.00000762939453,"y":1023.8887481689453,"wires":[["70ce562.902cda8"]]},{"id":"7edf9f75.192fd","type":"mqtt out","z":"3f603536.d87d0a","name":"","topic":"GIOT-GW/UL/test","qos":"","retain":"","broker":"8d5f5fee.210b1","x":714.0000152587891,"y":1009.7776365280151,"wires":[]},{"id":"fdf04398.5ff7f","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":692.0000114440918,"y":956.7776975631714,"wires":[]},{"id":"972185a4.2c76d8","type":"ui_group","z":"","name":"溫度","tab":"5f387a7e.3e5704","order":1,"disp":true,"width":"12","collapse":false},{"id":"eca9d289.e3c26","type":"ui_group","z":"","name":"濕度","tab":"5f387a7e.3e5704","order":2,"disp":true,"width":"12","collapse":false},{"id":"8d5f5fee.210b1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5f387a7e.3e5704","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]