public/flow/mqtt_all.json
[{"id":"128d5fd7.cff97","type":"mqtt out","z":"3f603536.d87d0a","name":"","topic":"","qos":"","retain":"","broker":"8d5f5fee.210b1","x":1107.2475395202637,"y":907.4930076599121,"wires":[]},{"id":"4909a19d.9c7f5","type":"function","z":"3f603536.d87d0a","name":"解析資料","func":"var util = context.global.util;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":204.3945083618164,"y":236.8241548538208,"wires":[["4715cd6.8dafd34","9423f00d.00696","e9446258.142bf"]]},{"id":"8eb55a40.7128a8","type":"function","z":"3f603536.d87d0a","name":"存到資料庫","func":"var eventTools = context.global.eventTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\neventTools.saveEventMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        eventTools.findLastEventByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":587.9999694824219,"y":127.43353843688965,"wires":[["2b374fd9.ec77b"]]},{"id":"2b374fd9.ec77b","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"payload","x":760.9999122619629,"y":126.43355751037598,"wires":[]},{"id":"c4aa4ed8.a4676","type":"inject","z":"3f603536.d87d0a","name":"永齡溫溼度","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"00000000050102c7\", \"data\":\"fb010694021a060110032a7b250000\", \"frameCnt\":4919, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":91,"y":35.86213541030884,"wires":[["5cd5d829.674a98"]]},{"id":"440bf45e.0dbe6c","type":"function","z":"3f603536.d87d0a","name":"比對溫度設定值","func":"var util = context.global.util;\nvar setting = util.getSetting();\nif(setting && setting.max) {\n    //node.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\n    if (msg.payload > setting.tempMax) { \n        msg.topic = '溫度過高通知';\n        var data = new Date() +  '溫度超過設定值';\n        msg.payload = data;\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}\n\n","outputs":"2","noerr":0,"x":509.9999008178711,"y":174.43355321884155,"wires":[[],[]]},{"id":"a7a08710.02bce8","type":"mqtt in","z":"3f603536.d87d0a","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"8d5f5fee.210b1","x":343.4285888671875,"y":34.86603546142578,"wires":[["8fea729d.afe52","5cd5d829.674a98"]]},{"id":"8fea729d.afe52","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"false","x":548.5242118835449,"y":36.99998664855957,"wires":[]},{"id":"601bfc3b.a74bc4","type":"debug","z":"3f603536.d87d0a","name":"","active":true,"console":"false","complete":"false","x":735.8787689208984,"y":173.6405429840088,"wires":[]},{"id":"9423f00d.00696","type":"debug","z":"3f603536.d87d0a","name":"","active":false,"console":"false","complete":"false","x":395.02171325683594,"y":236.5016098022461,"wires":[]},{"id":"5cd5d829.674a98","type":"function","z":"3f603536.d87d0a","name":"改時間","func":"let arr = JSON.parse(msg.payload);\nlet obj = arr[0];\nobj.time = new Date().toISOString();\nmsg.payload = [obj];\nreturn msg;","outputs":1,"noerr":0,"x":362.2523002624512,"y":112.0360164642334,"wires":[["4909a19d.9c7f5"]]},{"id":"4715cd6.8dafd34","type":"switch","z":"3f603536.d87d0a","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"18","vt":"num"},{"t":"eq","v":"21","vt":"str"}],"checkall":"true","outputs":2,"x":88.2522964477539,"y":392.75228691101074,"wires":[[],[]]},{"id":"e9cec4e5.7062b8","type":"inject","z":"3f603536.d87d0a","name":"土壤三合一21","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"00000000050102c8\", \"data\":\"fb0100020c270806670bb00099000000000000000000000000000000000000\", \"frameCnt\":4919, \"fport\":21}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":106.01156234741211,"y":88.02776527404785,"wires":[["5cd5d829.674a98"]]},{"id":"e9446258.142bf","type":"switch","z":"3f603536.d87d0a","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"18","vt":"num"},{"t":"eq","v":"21","vt":"str"}],"checkall":"true","outputs":2,"x":113.263916015625,"y":683.5688552856445,"wires":[[],[]]},{"id":"18015ae9.5594a5","type":"inject","z":"3f603536.d87d0a","name":"溫度溶解氧a","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"0000000005010c20\", \"data\":\"fb010694021a060110032a7b250000\", \"frameCnt\":4919, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.0115737915039,"y":824.3610687255859,"wires":[["64c6db8e.9c5294"]]},{"id":"64c6db8e.9c5294","type":"json","z":"3f603536.d87d0a","name":"","x":305.2547035217285,"y":823.0416660308838,"wires":[["2cf7b461.e2d00c"]]},{"id":"2cf7b461.e2d00c","type":"function","z":"3f603536.d87d0a","name":"0000000005010c20","func":"var obj = msg.payload[0];\nobj.macAddr = '0000000005010c20';\nobj.data = 'fb010694021a060110032a';\n\nvar a1 = obj.data.substr(0, 8);\nvar a2 = getVoltage();\nvar a3 = getNumber(1);\nvar a4 = getNumber(2);\nobj.data = a1+a2+'00'+a3+a4;\n\nobj.fport = 18;\nobj.time =  getSimulateTime(30);\n\nif(obj.time === null) {\n    return null;\n\n}\n\n\n\nmsg.payload = JSON.stringify([obj]);\nmsg.topic = 'GIOT-GW/UL/'+obj.macAddr;\nreturn msg;\n\n//mode: 1:current, mode:2 time simulate\nfunction getTime(mode) {\n    if(mode===1) {\n        return new Date().toISOString();\n    } else {\n        return getSimulateTime();\n    }\n}\n\nfunction getSimulateTime(diff) {\n    var oldDateObj = context.get(obj.macAddr+'_time');\n    //node.warn(oldDateObj);\n    if(oldDateObj === undefined) {\n        oldDateObj = new Date('2022/1/1 00:00:00');\n       // node.warn(oldDateObj);\n    }\n    \n    var now = new Date();\n    if(oldDateObj.getTime() > now.getTime()) {\n        return null;\n    }\n    \n    var newDateObj = new Date(oldDateObj.getTime() + diff*60000);\n    //node.warn(newDateObj);\n    context.set((obj.macAddr+'_time'), newDateObj);\n    return newDateObj.toISOString();\n     \n}\n\n\nfunction getVoltage() {\n    var oldObj = context.get(obj.macAddr+'_voltage');\n    if(oldObj === undefined || oldObj< 2000) {\n        oldObj = 3000;\n        //node.warn(oldDateObj);\n    }\n    oldObj--;\n    context.set((obj.macAddr+'_voltage'), oldObj);\n    var hexString = oldObj.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    return hexString;\n}\n\n\n//mode:1 temperature\nfunction getNumber(mode) {\n    var value;\n    if(mode ===1) {\n        value = randomIntFromInterval(200, 350);\n    } else {\n        value = randomIntFromInterval(0, 200);\n    }\n    //node.warn('getNumber value:'+value);\n    var hexString = value.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    //node.warn('getNumber hexString:'+hexString);\n    return hexString;\n}\n\nfunction randomIntFromInterval(min, max) { // min and max included \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n","outputs":1,"noerr":0,"x":711.2454376220703,"y":822.914472579956,"wires":[["128d5fd7.cff97"]]},{"id":"cc30ed08.371cf","type":"json","z":"3f603536.d87d0a","name":"","x":304.0116500854492,"y":892.8057069778442,"wires":[["509a2d11.150d14"]]},{"id":"14987fe9.aa152","type":"inject","z":"3f603536.d87d0a","name":"三合一a","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"0000000005010c20\", \"data\":\"fb010694021a060110032a7b250000\", \"frameCnt\":4919, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.01156616210938,"y":895.805585861206,"wires":[["cc30ed08.371cf"]]},{"id":"509a2d11.150d14","type":"function","z":"3f603536.d87d0a","name":"0000000005010bd7","func":"var obj = msg.payload[0];\nobj.macAddr = '0000000005010bd7';\nobj.data = 'fb010694021a060110032a';\n\nvar a1 = obj.data.substr(0, 8);\n\nvar a2 = getVoltage();\n\nvar a3 = getNumber(1);\n\nvar a4 = getNumber(2);\n\nvar a5 = getNumber(3);\n\nobj.data = a1+a2+'00'+a3+a4+a5;\n\nobj.fport = 21;\nobj.time =  getSimulateTime(30);\n\n\nif(obj.time === null) {\n    return null;\n\n}\n\n\nmsg.payload = JSON.stringify([obj]);\nmsg.topic = 'GIOT-GW/UL/'+obj.macAddr;\nreturn msg;\n\n//mode: 1:current, mode:2 time simulate\nfunction getTime(mode) {\n    if(mode===1) {\n        return new Date().toISOString();\n    } else {\n        return getSimulateTime();\n    }\n}\n\nfunction getSimulateTime(diff) {\n    var oldDateObj = context.get(obj.macAddr+'_time');\n    //node.warn(oldDateObj);\n    if(oldDateObj === undefined) {\n        oldDateObj = new Date('2022/1/1 00:00:00');\n       // node.warn(oldDateObj);\n    }\n    \n    var now = new Date();\n    if(oldDateObj.getTime() > now.getTime()) {\n        return null;\n    }\n    \n    var newDateObj = new Date(oldDateObj.getTime() + diff*60000);\n    //node.warn(newDateObj);\n    context.set((obj.macAddr+'_time'), newDateObj);\n    return newDateObj.toISOString();\n     \n}\n\n\nfunction getVoltage() {\n    var oldObj = context.get(obj.macAddr+'_voltage');\n    if(oldObj === undefined || oldObj< 2000) {\n        oldObj = 3000;\n        //node.warn(oldDateObj);\n    }\n    oldObj--;\n    context.set((obj.macAddr+'_voltage'), oldObj);\n    var hexString = oldObj.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    return hexString;\n}\n\n\n//mode:1 temperature\nfunction getNumber(mode) {\n    var value;\n    if(mode ===1) {\n        value = randomIntFromInterval(200, 350);\n    } else if(mode ===2){\n        value = randomIntFromInterval(0, 200);\n    }  else {\n        value = randomIntFromInterval(400, 1000);\n    }\n    //node.warn('getNumber value:'+value);\n    var hexString = value.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    //node.warn('getNumber hexString:'+hexString);\n    return hexString;\n}\n\nfunction randomIntFromInterval(min, max) { // min and max included \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n","outputs":1,"noerr":0,"x":719.0115509033203,"y":888.8055877685547,"wires":[["128d5fd7.cff97"]]},{"id":"7c26059f.e74e5c","type":"inject","z":"3f603536.d87d0a","name":"溫度溶解氧b","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"0000000005010c20\", \"data\":\"fb010694021a060110032a7b250000\", \"frameCnt\":4919, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":116.2708511352539,"y":946.8055191040039,"wires":[["d54d1694.f7e278"]]},{"id":"d54d1694.f7e278","type":"json","z":"3f603536.d87d0a","name":"","x":308.5139465332031,"y":944.4863729476929,"wires":[["90ed2a73.7beec8"]]},{"id":"90ed2a73.7beec8","type":"function","z":"3f603536.d87d0a","name":"0000000005010b95","func":"var obj = msg.payload[0];\nobj.macAddr = '0000000005010b95';\nobj.data = 'fb010694021a060110032a';\n\nvar a1 = obj.data.substr(0, 8);\n\nvar a2 = getVoltage();\n\nvar a3 = getNumber(1);\n\nvar a4 = getNumber(2);\nobj.data = a1+a2+'00'+a3+a4;\n\nobj.fport = 18;\nobj.time =  getSimulateTime(30);\n\n\nif(obj.time === null) {\n    return null;\n\n}\n\n\nmsg.payload = JSON.stringify([obj]);\nmsg.topic = 'GIOT-GW/UL/'+obj.macAddr;\nreturn msg;\n\n//mode: 1:current, mode:2 time simulate\nfunction getTime(mode) {\n    if(mode===1) {\n        return new Date().toISOString();\n    } else {\n        return getSimulateTime();\n    }\n}\n\nfunction getSimulateTime(diff) {\n    var oldDateObj = context.get(obj.macAddr+'_time');\n    //node.warn(oldDateObj);\n    if(oldDateObj === undefined) {\n        oldDateObj = new Date('2022/1/1 00:00:00');\n       // node.warn(oldDateObj);\n    }\n    \n    var now = new Date();\n    if(oldDateObj.getTime() > now.getTime()) {\n        return null;\n    }\n    \n    var newDateObj = new Date(oldDateObj.getTime() + diff*60000);\n    //node.warn(newDateObj);\n    context.set((obj.macAddr+'_time'), newDateObj);\n    return newDateObj.toISOString();\n     \n}\n\n\nfunction getVoltage() {\n    var oldObj = context.get(obj.macAddr+'_voltage');\n    if(oldObj === undefined || oldObj< 2000) {\n        oldObj = 3000;\n        //node.warn(oldDateObj);\n    }\n    oldObj--;\n    context.set((obj.macAddr+'_voltage'), oldObj);\n    var hexString = oldObj.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    return hexString;\n}\n\n\n//mode:1 temperature\nfunction getNumber(mode) {\n    var value;\n    if(mode ===1) {\n        value = randomIntFromInterval(200, 350);\n    } else {\n        value = randomIntFromInterval(0, 200);\n    }\n    //node.warn('getNumber value:'+value);\n    var hexString = value.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    //node.warn('getNumber hexString:'+hexString);\n    return hexString;\n}\n\nfunction randomIntFromInterval(min, max) { // min and max included \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n","outputs":1,"noerr":0,"x":716.504638671875,"y":946.3590564727783,"wires":[["128d5fd7.cff97"]]},{"id":"8e49c598.456d38","type":"json","z":"3f603536.d87d0a","name":"","x":305.2708435058594,"y":996.2500886917114,"wires":[["7990b8c6.a46598"]]},{"id":"94d78b15.51ff78","type":"inject","z":"3f603536.d87d0a","name":"三合一b","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"0000000005010c20\", \"data\":\"fb010694021a060110032a7b250000\", \"frameCnt\":4919, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.27083206176758,"y":996.2501449584961,"wires":[["8e49c598.456d38"]]},{"id":"7990b8c6.a46598","type":"function","z":"3f603536.d87d0a","name":"0000000005010be0","func":"var obj = msg.payload[0];\nobj.macAddr = '0000000005010be0';\nobj.data = 'fb010694021a060110032a';\n\nvar a1 = obj.data.substr(0, 8);\n\nvar a2 = getVoltage();\n\nvar a3 = getNumber(1);\n\nvar a4 = getNumber(2);\n\nvar a5 = getNumber(3);\n\nobj.data = a1+a2+'00'+a3+a4+a5;\n\nobj.fport = 21;\nobj.time =  getSimulateTime(30);\n\n\nif(obj.time === null) {\n    return null;\n\n}\n\n\nmsg.payload = JSON.stringify([obj]);\nmsg.topic = 'GIOT-GW/UL/'+obj.macAddr;\nreturn msg;\n\n//mode: 1:current, mode:2 time simulate\nfunction getTime(mode) {\n    if(mode===1) {\n        return new Date().toISOString();\n    } else {\n        return getSimulateTime();\n    }\n}\n\nfunction getSimulateTime(diff) {\n    var oldDateObj = context.get(obj.macAddr+'_time');\n    //node.warn(oldDateObj);\n    if(oldDateObj === undefined) {\n        oldDateObj = new Date('2022/1/1 00:00:00');\n       // node.warn(oldDateObj);\n    }\n    \n    var now = new Date();\n    if(oldDateObj.getTime() > now.getTime()) {\n        return null;\n    }\n    \n    var newDateObj = new Date(oldDateObj.getTime() + diff*60000);\n    //node.warn(newDateObj);\n    context.set((obj.macAddr+'_time'), newDateObj);\n    return newDateObj.toISOString();\n     \n}\n\n\nfunction getVoltage() {\n    var oldObj = context.get(obj.macAddr+'_voltage');\n    if(oldObj === undefined || oldObj< 2000) {\n        oldObj = 3000;\n        //node.warn(oldDateObj);\n    }\n    oldObj--;\n    context.set((obj.macAddr+'_voltage'), oldObj);\n    var hexString = oldObj.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    return hexString;\n}\n\n\n//mode:1 temperature\nfunction getNumber(mode) {\n    var value;\n    if(mode ===1) {\n        value = randomIntFromInterval(200, 350);\n    } else if(mode ===2){\n        value = randomIntFromInterval(0, 200);\n    }  else {\n        value = randomIntFromInterval(400, 1000);\n    }\n    //node.warn('getNumber value:'+value);\n    var hexString = value.toString(16);\n    while(hexString.length<4) {\n        hexString = '0' + hexString;\n    }\n    //node.warn('getNumber hexString:'+hexString);\n    return hexString;\n}\n\nfunction randomIntFromInterval(min, max) { // min and max included \n  return Math.floor(Math.random() * (max - min + 1) + min)\n}\n","outputs":1,"noerr":0,"x":719.2708282470703,"y":997.250171661377,"wires":[["128d5fd7.cff97"]]},{"id":"88524939.97e038","type":"inject","z":"3f603536.d87d0a","name":"設初始時間","topic":"","payload":"[{\"channel\":923800000, \"sf\":9, \"time\":\"2019-04-16T02:39:42Z\", \"gwip\":\"192.168.1.106\", \"gwid\":\"00001c497b431fa4\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-43.0, \"snr\":29.5, \"snr_max\":35.5, \"snr_min\":25.5, \"macAddr\":\"0000000005010c20\", \"data\":\"fb010694021a060110032a7b250000\", \"frameCnt\":4919, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.66667175292969,"y":762.3333492279053,"wires":[["bcc23932.0fbc98"]]},{"id":"bcc23932.0fbc98","type":"function","z":"3f603536.d87d0a","name":"0000000005010c20","func":"var obj = msg.payload[0];\nvar mac1 = '0000000005010c20';\nvar mac2 = '0000000005010bd7';\nvar mac3 = '0000000005010b95';\nvar mac4 = '0000000005010be0';\nvar oldDateObj = new Date('2022/1/1 00:00:00');\n\ncontext.set((mac1+'_time'), oldDateObj);\ncontext.set((mac2+'_time'), oldDateObj);\ncontext.set((mac3+'_time'), oldDateObj);\ncontext.set((mac4+'_time'), oldDateObj);\n\ncontext.set((mac1+'_voltage'),3000);\ncontext.set((mac2+'_voltage'), 3000);\ncontext.set((mac3+'_voltage'), 3000);\ncontext.set((mac4+'_voltage'), 3000);","outputs":1,"noerr":0,"x":360.66666412353516,"y":765.3333759307861,"wires":[[]]},{"id":"8d5f5fee.210b1","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]