public/flow/mqtt_all.json
[{"id":"81e9642b.4b8f38","type":"mqtt in","z":"9c49160f.42b0b8","name":"","topic":"YESIO/UL/EVENT","qos":"2","broker":"f2f67866.742a48","x":670,"y":40,"wires":[[]]},{"id":"8391afb7.af6d8","type":"mqtt out","z":"9c49160f.42b0b8","name":"","topic":"YESIO/UL/EVENT","qos":"","retain":"","broker":"f2f67866.742a48","x":630,"y":160,"wires":[]},{"id":"2064ba46.6a7e36","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"246f2894bdc4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["2841a82c.421868"]]},{"id":"2841a82c.421868","type":"function","z":"9c49160f.42b0b8","name":"瓦斯","func":"let mac = msg.payload;\n\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"fport\" : 200,\n  \"key1\" : 0,\n  \"key2\" : 7.5,\n  \"key3\" : -70,\n  \"key4\" : 2,\n  \"key5\" : 2,\n  \"key6\" : 2,\n  'cnt':1\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["8391afb7.af6d8"]]},{"id":"e21c2f0b.4ef9d","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"246f2894bdc4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["d013329d.d96af"]]},{"id":"d013329d.d96af","type":"function","z":"9c49160f.42b0b8","name":"Line","func":"let mac = msg.payload;\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"trigger\" : {\n      \"script\":1,\n      \"notify\":\"line\", \n      \"node\":\"taskcontainer3\",\n      \"key1\": 0\n  },\n  \"fport\":200\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["3fe2a5e2.638aba"]]},{"id":"3fe2a5e2.638aba","type":"mqtt out","z":"9c49160f.42b0b8","name":"","topic":"YESIO/UL/fcf5c454d9ec","qos":"","retain":"","broker":"f2f67866.742a48","x":510,"y":600,"wires":[]},{"id":"34afe91a.3d3366","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"246f2828297c","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["e42e852e.0e05d8"]]},{"id":"e42e852e.0e05d8","type":"function","z":"9c49160f.42b0b8","name":"email","func":"let mac = msg.payload;\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"trigger\" : {\n      \"script\":1,\n      \"notify\":\"mail\", \n      \"node\":\"taskcontainer4\",\n      \"key1\" : 0\n  },\n  \"fport\":200\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":600,"wires":[["3fe2a5e2.638aba"]]},{"id":"2f9a5531.b31bca","type":"function","z":"9c49160f.42b0b8","name":"座標","func":"msg.payload ={\n  \"macAddr\" : \"30aea497fdec\",\n  \"api_key\" : \"amtwZ2k4OGEuMS4xNS40\",\n  \"key1\" : 0,\n  \"key2\" : 3.422241,\n  \"key3\" : 357.8686,\n  \"key4\" : 330.6994,\n  \"key5\" : 0,\n  \"key6\" : 0,\n  \"key7\" : 0.0,\n  \"lat\" : 23.995042,\n  \"lng\" : 121.63726,\n  \"cnt\": 1\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["188fd3.1a30c02e"]]},{"id":"2520d5d5.d8d3ba","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["2f9a5531.b31bca"]]},{"id":"188fd3.1a30c02e","type":"mqtt out","z":"9c49160f.42b0b8","name":"","topic":"YESIO/UL/REPORT","qos":"","retain":"","broker":"7c7d5c30.6d6a74","x":520,"y":460,"wires":[]},{"id":"3daf22de.6c107e","type":"mqtt in","z":"9c49160f.42b0b8","name":"","topic":"YESIO/UL/+","qos":"2","broker":"7c7d5c30.6d6a74","x":70,"y":20,"wires":[["b6b6b752.07e0d8"]]},{"id":"a966c9fa.bb8208","type":"mqtt in","z":"9c49160f.42b0b8","name":"","topic":"YESIO/DL/+","qos":"2","broker":"f2f67866.742a48","x":90,"y":760,"wires":[["be22b4ad.dfbe68","19ef641f.2dbddc"]]},{"id":"e5c40a3b.f69a68","type":"function","z":"9c49160f.42b0b8","name":"Action ACK","func":"let data = msg.payload;\nif(data.data === undefined ) {\n    return;\n}\nif(data.data.key1 === undefined) {\n     return;\n}\nlet action = data.data.key1;\nlet plant_key = data.data.key2;\nlet command = data.data.key4;\nlet mac = data.macAddr;\n//node.warn('mac:'+mac);\n//node.warn('command:'+command);\n\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"data\" : {\n      \"key1\":2,\n      \"key2\":action, \n      \"key3\":plant_key,\n      \"key4\":command, \n  },\n  \"fport\":103\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":630,"y":700,"wires":[["42ac44da.26dd0c"]]},{"id":"59e7a463.e8d17c","type":"mqtt out","z":"9c49160f.42b0b8","name":"","topic":"YESIO/UL/FARM","qos":"","retain":"","broker":"f2f67866.742a48","x":750,"y":360,"wires":[]},{"id":"be22b4ad.dfbe68","type":"debug","z":"9c49160f.42b0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":760,"wires":[]},{"id":"dc111790.e54aa8","type":"json","z":"9c49160f.42b0b8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":700,"wires":[["e5c40a3b.f69a68"]]},{"id":"19ef641f.2dbddc","type":"delay","z":"9c49160f.42b0b8","name":"","pauseType":"delayv","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":700,"wires":[["dc111790.e54aa8"]]},{"id":"59e231cb.0f069","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":820,"wires":[["f6171e64.96215"]]},{"id":"f6171e64.96215","type":"function","z":"9c49160f.42b0b8","name":"時間觸發澆水測試","func":"msg.payload = {\n  \"macAddr\" : \"10521c690430\",\n   \"data\":{\"key1\":85, \"action\": 88},\n  \"fport\" : 103\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["59e7a463.e8d17c"]]},{"id":"14898369.7dbbbd","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["7460e86b.76b418"]]},{"id":"7460e86b.76b418","type":"function","z":"9c49160f.42b0b8","name":"時間觸發施肥測試","func":"msg.payload = {\n  \"macAddr\" : \"10521c690430\",\n   \"data\":{\"key1\":85, \"action\": 89},\n  \"fport\" : 103\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":880,"wires":[["59e7a463.e8d17c"]]},{"id":"a9bd4678.036758","type":"inject","z":"9c49160f.42b0b8","name":"mac 30aea4972d80","topic":"","payload":"30aea4972d80","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["ecea1054.09df2"]]},{"id":"ecea1054.09df2","type":"function","z":"9c49160f.42b0b8","name":"推進器定位(危險)","func":"let mac = msg.payload;\nlet url = 'http://127.0.0.1:8070/reports/write?api_key=cW1yLjEuMjYuN3Y1eXZx';\n//&lat=24.001458&lng=121.63794\nlet lat = context.get('lat') || 24.000311;\nlet lng = context.get('lngt') || 121.636525;\nlat = (lat + 0.0001) ;\nlat = parseFloat(lat.toFixed(6));\nlng = parseFloat(lng.toFixed(6));\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"fport\" : 104,\n  \"lat\" : lat,\n  \"lng\" : lng,\n  \"sequence\" : 1,\n  //\"recv\": \"2022-04-08T09:45:39.106Z\"\n};\n\ncontext.set('lat', lat);\ncontext.set('lng', lng);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["8391afb7.af6d8"]]},{"id":"804aa84.3f7e858","type":"function","z":"9c49160f.42b0b8","name":"回原點","func":"\ncontext.set('lat', 24.001958);\ncontext.set('lng', 121.63794);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":60,"wires":[[]]},{"id":"aa6f019c.9f82f","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":60,"wires":[["804aa84.3f7e858"]]},{"id":"fba659ae.9d1b78","type":"function","z":"9c49160f.42b0b8","name":"上報","func":"msg.payload ={\n  \"macAddr\" : \"30aea497fdec\",\n  \"api_key\" : \"bW5ldS4xLjI3LnkydGR1\",\n  \"key1\" : 0,\n  \"key2\" : 3.422241,\n  \"key3\" : 357.8686,\n  \"key4\" : 330.6994,\n  \"cnt\": 1\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["188fd3.1a30c02e"]]},{"id":"8f7aa808.6e5558","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["fba659ae.9d1b78"]]},{"id":"ddc065bc.b7cc38","type":"function","z":"9c49160f.42b0b8","name":"上報","func":"msg.payload ={\n  \"macAddr\" : \"10521c690430\",\n  \"api_key\" : \"bW5ldS4xLjI3LnkydGR1\",\n  \"key1\" : 35,\n  \"key2\" : 40,\n  \"key3\" : 5,\n  \"key4\" : 0.2,\n  \"fport\" : 13.2,\n  \"sequence\" : 1,\n  \"cnt\": 1\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["8391afb7.af6d8"]]},{"id":"fb04477.f8e7ab8","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":380,"wires":[["ddc065bc.b7cc38"]]},{"id":"45ecaff9.b2199","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"10521c690430","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["7329d68a.ede898"]]},{"id":"7329d68a.ede898","type":"function","z":"9c49160f.42b0b8","name":"無人機定位","func":"let mac = msg.payload;\nlet url = 'http://127.0.0.1:8070/reports/write?api_key=cW1yLjEuMjYuN3Y1eXZx';\n//&lat=24.001458&lng=121.63794\nlet lat = context.get('lat') || 24.001458;\nlet lng = context.get('lngt') || 121.63794;\nlat = (lat + 0.0001) ;\nlat = parseFloat(lat.toFixed(6));\nlng = parseFloat(lng.toFixed(6));\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"fport\" : 102,\n  \"lat\" : lat,\n  \"lng\" : lng,\n  \"sequence\" : 10,\n  //\"recv\": \"2022-04-08T09:45:39.106Z\"\n};\n\ncontext.set('lat', lat);\ncontext.set('lng', lng);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["8391afb7.af6d8"]]},{"id":"d51881cf.32309","type":"function","z":"9c49160f.42b0b8","name":"推進器定位","func":"let mac = msg.payload;\nlet url = 'http://127.0.0.1:8070/reports/write?api_key=cW1yLjEuMjYuN3Y1eXZx';\n//&lat=24.001458&lng=121.63794\nlet lat = context.get('lat') || 24.001458;\nlet lng = context.get('lngt') || 121.63794;\nlat = (lat + 0.0001) ;\n\nlat = parseFloat(lat.toFixed(6));\nlng = parseFloat(lng.toFixed(6));\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"fport\" : 104,\n  \"lat\" : lat,\n  \"lng\" : lng,\n  \"sequence\" : 1,\n  //\"recv\": \"2022-04-08T09:45:39.106Z\"\n};\n\ncontext.set('lat', lat);\ncontext.set('lng', lng);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["8391afb7.af6d8"]]},{"id":"abff9d90.3ee8f","type":"inject","z":"9c49160f.42b0b8","name":"mac 10521c68f614","topic":"","payload":"10521c68f614","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["d51881cf.32309"]]},{"id":"42ac44da.26dd0c","type":"delay","z":"9c49160f.42b0b8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":620,"wires":[["59e7a463.e8d17c"]]},{"id":"d70a8719.fa2ea8","type":"inject","z":"9c49160f.42b0b8","name":"local: f008d1c76620","topic":"","payload":"f008d1c76620","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["3d2019e8.5e7156"]]},{"id":"3d2019e8.5e7156","type":"function","z":"9c49160f.42b0b8","name":"農業機器人上報","func":"let mac = msg.payload;\n\nmsg.payload = {\n  \"macAddr\" : mac,\n  \"fport\" : 103,\n  \"key1\" : 25,\n  \"key2\" : 40,\n  //\"key3\" : 7,\n  //\"key4\" : 0.1,\n  //\"key5\" : 12.8,\n  \"sequence\" : 1,\n  'cnt':1\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["8391afb7.af6d8"]]},{"id":"f5d509d0.7213a8","type":"inject","z":"9c49160f.42b0b8","name":"ioflex: 30aea4980558","topic":"","payload":"b8d61aa7a2e8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["3d2019e8.5e7156"]]},{"id":"2a20f453.d8b6ec","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"{\"macAddr\":\"30aea4980558\",\"key1\":35,\"key2\":70,\"key3\":16,\"key4\":179,\"key5\":18,\"sequence\":1,\"fport\":103,\"cnt\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":300,"wires":[["cc48370f.de5a58"]]},{"id":"cc48370f.de5a58","type":"json","z":"9c49160f.42b0b8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":300,"wires":[["8391afb7.af6d8"]]},{"id":"69905cdf.c85414","type":"mqtt in","z":"9c49160f.42b0b8","name":"","topic":"outTopic","qos":"2","broker":"7c7d5c30.6d6a74","x":140,"y":960,"wires":[["8ddbf2d6.0e70e"]]},{"id":"8ddbf2d6.0e70e","type":"debug","z":"9c49160f.42b0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":960,"wires":[]},{"id":"cbbc4e86.ae77c","type":"mqtt out","z":"9c49160f.42b0b8","name":"","topic":"Try/MQTT/CentOS7","qos":"","retain":"","broker":"7c7d5c30.6d6a74","x":480,"y":1020,"wires":[]},{"id":"c18db5e0.dffb18","type":"inject","z":"9c49160f.42b0b8","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1040,"wires":[["cbbc4e86.ae77c"]]},{"id":"b6b6b752.07e0d8","type":"debug","z":"9c49160f.42b0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":20,"wires":[]},{"id":"f2f67866.742a48","type":"mqtt-broker","z":"","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7c7d5c30.6d6a74","type":"mqtt-broker","z":"","name":"ioflex2022","broker":"mqtt.ioflex.yesio.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]