public/flow/ws_all.json
[{"id":"9ac17469.855dd8","type":"websocket out","z":"7b407c78.c01444","name":"web socket mobiUI - out","server":"3ee09366.65154c","client":"","x":740,"y":284,"wires":[]},{"id":"799b2ae8.5e2d44","type":"websocket in","z":"7b407c78.c01444","name":"web socket tools - in","server":"3ee09366.65154c","client":"","x":160,"y":184,"wires":[["abefacf3.07943","b09944f5.535568"]]},{"id":"ab2d2e91.42d62","type":"comment","z":"7b407c78.c01444","name":"監聽 /ws/devices","info":"","x":146.98046875,"y":138.99609375,"wires":[]},{"id":"abefacf3.07943","type":"function","z":"7b407c78.c01444","name":"WS/devices","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":400.00000762939453,"y":188.0000057220459,"wires":[["cb7a7d97.a684f","366811a8.63306e"]]},{"id":"cb7a7d97.a684f","type":"function","z":"7b407c78.c01444","name":"set index/view","func":"var moment = context.global.momentModule;\nvar mac = msg.payload.mac;\ncontext.global.selectedMac = mac;\nvar date = msg.payload.date;\nvar option = msg.payload.option;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \nif(msg.payload.option) {\n    option = msg.payload.option;\n}\n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":740,"y":184,"wires":[["c198f14a.55395","9a33debe.7d62c"]]},{"id":"afe9d79f.488328","type":"function","z":"7b407c78.c01444","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar util = context.global.util;\nvar data = util.getTabledata (msg.payload);\n// node.warn(mac);\nmsg.payload = {id:\"change_table\",mac: mac, v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":407.00001525878906,"y":283.9999952316284,"wires":[["9ac17469.855dd8","f35066eb.4f9128"]]},{"id":"c198f14a.55395","type":"http request","z":"7b407c78.c01444","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":160,"y":285,"wires":[["c5836758.1f69a8","afe9d79f.488328"]]},{"id":"c5836758.1f69a8","type":"debug","z":"7b407c78.c01444","name":"","active":false,"console":"false","complete":"false","x":325,"y":368,"wires":[]},{"id":"9ff1af38.34847","type":"websocket in","z":"7b407c78.c01444","name":"","server":"90b1bfaa.92331","client":"","x":140,"y":484,"wires":[["f2d42ab.b0225d8"]]},{"id":"f2d42ab.b0225d8","type":"function","z":"7b407c78.c01444","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar util = context.global.util;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    util.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":390,"y":484,"wires":[["3d1aed5c.4f7662","9f253d5a.85f23"]]},{"id":"3d1aed5c.4f7662","type":"debug","z":"7b407c78.c01444","name":"","active":true,"console":"false","complete":"false","x":710,"y":424,"wires":[]},{"id":"9f253d5a.85f23","type":"websocket out","z":"7b407c78.c01444","name":"","server":"90b1bfaa.92331","client":"","x":720,"y":484,"wires":[]},{"id":"553debee.af97b4","type":"comment","z":"7b407c78.c01444","name":"監聽 /WS/setting ","info":"","x":150,"y":444,"wires":[]},{"id":"b09944f5.535568","type":"debug","z":"7b407c78.c01444","name":"","active":false,"console":"false","complete":"false","x":400,"y":124,"wires":[]},{"id":"366811a8.63306e","type":"debug","z":"7b407c78.c01444","name":"","active":false,"console":"false","complete":"false","x":720,"y":124,"wires":[]},{"id":"f35066eb.4f9128","type":"debug","z":"7b407c78.c01444","name":"","active":true,"console":"false","complete":"false","x":662.1666870117188,"y":345,"wires":[]},{"id":"9a33debe.7d62c","type":"debug","z":"7b407c78.c01444","name":"","active":true,"console":"false","complete":"false","x":858.8749847412109,"y":235.64843654632568,"wires":[]},{"id":"3ee09366.65154c","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"90b1bfaa.92331","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"}]